<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[微笑]</key>
	<string>face_weixiao</string>
	<key>[撇嘴]</key>
	<string>face_piezui</string>
	<key>[色]</key>
	<string>face_se</string>
	<key>[得意]</key>
	<string>face_deyi</string>
	<key>[大哭]</key>
	<string>face_daku</string>
	<key>[害羞]</key>
	<string>face_haixiu</string>
	<key>[不语]</key>
	<string>face_buyu</string>
	<key>[哈欠]</key>
	<string>face_haqian</string>
	<key>[尴尬]</key>
	<string>face_ganga</string>
	<key>[愤怒]</key>
	<string>face_fennu</string>
	<key>[调皮]</key>
	<string>face_tiaopi</string>
	<key>[龇牙]</key>
	<string>face_ciya</string>
	<key>[惊恐]</key>
	<string>face_jingkong</string>
	<key>[偷笑]</key>
	<string>face_touxiao</string>
	<key>[坏笑]</key>
	<string>face_huaixiao</string>
	<key>[可怜]</key>
	<string>face_kelian</string>
	<key>[委屈]</key>
	<string>face_weiqu</string>
	<key>[晕]</key>
	<string>face_yun</string>
	<key>[左哼哼]</key>
	<string>face_zuohengheng</string>
	<key>[右哼哼]</key>
	<string>face_youhengheng</string>
	<key>[嘘]</key>
	<string>face_xu</string>
	<key>[吐]</key>
	<string>face_tu</string>
	<key>[疑问]</key>
	<string>face_yiwen</string>
	<key>[馋]</key>
	<string>face_chan</string>
	<key>[奋斗]</key>
	<string>face_fendou</string>
	<key>[鼓掌]</key>
	<string>face_guzhang</string>
	<key>[憨笑]</key>
	<string>face_hanxiao</string>
	<key>[汗]</key>
	<string>face_han</string>
	<key>[敲]</key>
	<string>face_qiaoda</string>
	<key>[亲亲]</key>
	<string>face_qinqin</string>
	<key>[睡]</key>
	<string>face_shui</string>
	<key>[再见]</key>
	<string>face_zaijian</string>
	<key>[抓狂]</key>
	<string>face_zhuakuang</string>
	<key>[咒骂]</key>
	<string>face_zhouma</string>
	<key>[衰]</key>
	<string>face_shuai</string>
	<key>[示爱]</key>
	<string>face_shiai</string>
	<key>[爱心]</key>
	<string>face_aixin</string>
	<key>[心碎]</key>
	<string>face_xinsui</string>
	<key>[玫瑰]</key>
	<string>face_meigui</string>
	<key>[凋谢]</key>
	<string>face_diaoxie</string>
	<key>[强]</key>
	<string>face_qiang</string>
	<key>[弱]</key>
	<string>face_ruo</string>
	<key>[拥抱]</key>
	<string>face_yongbao</string>
	<key>[握手]</key>
	<string>face_woshou</string>
	<key>[抱拳]</key>
	<string>face_baoquan</string>
	<key>[胜利]</key>
	<string>face_shengli</string>
	<key>[便便]</key>
	<string>face_bianbian</string>
	<key>[菜刀]</key>
	<string>face_caidao</string>
	<key>[蛋糕]</key>
	<string>face_dangao</string>
	<key>[咖啡]</key>
	<string>face_kafei</string>
	<key>[西瓜]</key>
	<string>face_xigua</string>
	<key>[啤酒]</key>
	<string>face_pijiu</string>
	<key>[篮球]</key>
	<string>face_lanqiu</string>
	<key>[足球]</key>
	<string>face_zuqiu</string>
	<key>[乒乓]</key>
	<string>face_pingpang</string>
	<key>[闪电]</key>
	<string>face_shandian</string>
	<key>[太阳]</key>
	<string>face_taiyang</string>
	<key>[月亮]</key>
	<string>face_yueliang</string>
	<key>[炸弹]</key>
	<string>face_zhadan</string>
	<key>[猪头]</key>
	<string>face_zhutou</string>
	<key>[链接]</key>
	<string>biaoqing_tupan</string>
	<key>[Image]</key>
	<string>biaoqing_tupan</string>
	<key>[Link]</key>
	<string>biaoqing_lianjie</string>
	<key>[LinkBlue]</key>
	<string>image_link_blue</string>
	<key>[LinkBlueBlack]</key>
	<string>image_link_blue_black</string>
</dict>
</plist>
